:root{
    --MBinvertR:url('../img/BMright.png'),auto;
    --MBinvertL:url('../img/BMleft.png'),auto;

    --MWinvertR:url('../img/WMright.png'),auto;
    --MWinvertL:url('../img/WMleft.png'),auto;
    
    --MouseR:var(--MWinvertR);
    --MouseL:var(--MWinvertL);
    --navIcons:#fafafa;
    --bgColor:black;
}