:root{
    --MBinvertR:url('../img/Generals/BMright.png'),auto;
    --MBinvertL:url('../img/Generals/BMleft.png'),auto;

    --MWinvertR:url('../img/Generals/WMright.png'),auto;
    --MWinvertL:url('../img/Generals/WMleft.png'),auto;
    
    --MouseR:var(--MWinvertR);
    --MouseL:var(--MWinvertL);
    --navIcons:#fafafa;
    --bgColor:black;
}