.Curight{cursor: var(--MouseR)}
.Culeft{cursor: var(--MouseL)}
.defaultMouse{cursor: default;}

.Slide{
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background:#fafafa;
}

.Home,
.Project1,
.Project2,
.Project3,
.Project4,
.Project5,
.Project6,
.Project7,
.MoreProjects,
.Contacts{
    position: absolute;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.Home{
    z-index: 1;
}

.Home .Slide div{
    padding: 10% 0px 0px 80px;
    width: 55%;
}


.MoreProjects{
    position: absolute;
    top: 100%;
    height: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -9;
}


.Project2 .Slide{
    background-image: url(../img/Project2/img9.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
    background-size: 70%;
}


.BriefDetails{
    transition: all 0.2s;
    position: absolute;
    height: 150px;
    min-width:100px;
    max-width:700px;
    margin-left: 80px;
    top:35%;
    padding-right: 15%;
}


@media screen and (max-width: 600px) {
    .BriefDetails{
        margin-left: 30px;
        top: 15%;
    }
}

.BriefDetails h3{
    font-weight: 900;
    text-transform: uppercase;
}

.BriefDetails p{
    margin-top: -20px;
    font-size:20px;
    font-weight: 350;
}


.subtitle:before{
    content: "";
    width: 70px;
    display: block;
    height: 3px;
    border-radius: 2px;
    background: #512da8;
    margin: 30px 0px 30px 0px;
}

 .viewProject{
    position: absolute !important;
    margin-top: 30px;
    background: #fafafa;
    color: black;
    border: 2.2px solid black !important;
    font-size: 18px;
    font-weight: 600;
    z-index: 0;
}

.viewProject:hover{
    background: black !important;
    color:  #fafafa;
}
.moreInfo{
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    background:#fafafa;
    padding: 0px;
    margin: 0px;
}

.moreInfo p{
    font-size:20px;
    font-weight: 350;

}

.row{
    position: relative;
    min-width: 260px;
    font-size: 18px;
    padding: 50px 5% 0px 5%;
}



.row h4:after{
    content: "";
    width: 30px;
    display: block;
    height: 3px;
    border-radius: 2px;
    background: #512da8;
    margin: 30px 0px 30px 0px;
}
 
.intro{
    padding-left: 3% !important;
}

.row div{
    margin-bottom: 30px;
}


@media screen and (min-width: 1000px) {
    .details{
        padding: 5%  20% 0% 15% !important;
    }
}

@media screen and (max-width: 1000px) {
    .details{
        padding-left: 7% !important;
    }
}

.MoreProjects .moreInfo{
    top: 50%;
}

footer{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0%;
    color: #fafafa;
    padding: 70px 0px 40px 0px;
}

footer span{
    font-size: 16px !important;

}

.center span{
    color: #512da8;
}

.Footermedia span i{
    transition: all 0.2s;
    margin: 15px;
    font-size: 30px;
    cursor: pointer;
}

.Footermedia span i:hover{
    color: #512da8;
}