/* Mouse Cursor Change */

.Curight{cursor: var(--MouseR)}
.Culeft{cursor: var(--MouseL)}
.defaultMouse{cursor: default;}

.Slide{
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background:#fafafa;
    /* overflow-y: scroll; */
}



/*
.navProject{
    position: relative;
    padding: 20px 40px 20px 40px !important;
    top: 50%;
    left:100px;
}*/


.Home,
.Project1,
.Project2,
.Project3,
.Project4,
.Project5,
.Project6,
.Project7,
.Project8,
.Aboutme,
.Contacts{
    position: absolute;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.Home{
    z-index: 1;
}

.Home .Slide div{
    padding: 10% 0px 0px 80px;
    width: 55%;
}


.subtitle:before{
    content: "";
    width: 70px;
    display: block;
    height: 3px;
    border-radius: 2px;
    background: #512da8;
    margin: 30px 0px 30px 0px;
}

 .viewProject{
    position: absolute !important;
    top:60%;
    background: #fafafa;
    color: black;
    border: 2px solid black !important;
    margin-left: 80px;
}

.viewProject:hover{
    background: black !important;
    color:  #fafafa;
}
.moreInfo{
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    background:#fafafa;
    padding: 0px;
    margin: 0px;
}

.row{
    position: relative;
    min-width: 260px;
    font-size: 18px;
    padding: 50px 5% 0px 5%;
}



.row h4:after{
    content: "";
    width: 30px;
    display: block;
    height: 3px;
    border-radius: 2px;
    background: #512da8;
    margin: 30px 0px 30px 0px;
}
 
.intro{
    padding-left: 3% !important;
}

.row div{
    margin-bottom: 30px;
}


@media screen and (min-width: 1000px) {
    .details{
        padding: 5%  20% 0% 15% !important;
    }
}

@media screen and (max-width: 1000px) {
    .details{
        padding-left: 7% !important;
    }
}

.Aboutme .moreInfo{
    top: 50%;
}