body{
    margin: 0px;
    padding: 0px;
    font-family: 'Yantramanav', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;
}


p{
    font-weight: 350;
}



.tracNum{
    position: absolute;
    top: calc(100% - 30px);
    left: calc(50% - 20px);
    color: var(--navIcons);
    z-index: 10;
    opacity: 0;
} 

.iconMobNext{
    position: absolute;
    display: none;
    left: calc(100% - 65px);
    top: calc(100% - 45px);
    width: 60px;
    height: 40px;
    background-image: url(./img/Generals/WMright.png);
    background-repeat: no-repeat;
    background-position: 23px 8px;
    background-size: 15px;

    
}


@media screen and (max-width: 600px) {
    .tracNum{
        display: none;
    }

    .iconMobNext{
        display: block;
    }
}
