.menuCont{
    margin: 0px;
    transition: all 0.6s;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navLogo,
.navClose,
.navMenu{
    position: absolute;
    transition: all 0.4s;
    z-index: 10;
}

.navLogo,
.material-icons{
    cursor: pointer;
    font-weight: 900;
    position: relative;
    color:var(--navIcons) !important;
    font-size: 35px !important;
    margin: 20px 80px 0px 80px !important;
    height: 0px;
} 

.navLogo {
    position: relative;
    width: 80px;
    height: 95px !important;
    background-image:var(--Logo);
    background-repeat: no-repeat !important;
}

.navClose{
    display: none !important;
    z-index: 9;
}

.navCont{background: transparent;}

.dropMenu{
    position: absolute;
    top: 0px;
    padding: 0px;
    margin: 0px;
    width:100%;
    overflow: hidden;
    height: 0px;
    background: #0a0a0a;
    z-index: 10;
    
}

.dropLink{
    position: relative;
    top: calc(50% - 150px);
    color: #fafafa !important;
}
.social a,
.dropLink h2{
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
    color: #fafafa !important;
}
.social a:hover,
.dropLink h2:hover{
    color: #512da8 !important;
}


.social{
    position: relative;
    top: calc(100% - 400px);
    margin-right:50px;
}


.social a{
    font-size: 35px;
    margin-left: 35px;
}

.copyright{
    position: relative;
    margin: 80px 0px 0px 40px;
}

 ::-webkit-scrollbar {
     background: none;
     width: 0px;
}

::-webkit-scrollbar-track {background: none; }

::-webkit-scrollbar-thumb {background: none }
