
.menuCont{
    position: relative;
    z-index: 11;
    /* overflow: hidden; */
    
}
 .menu{
    transition: all 0.2s;
    position: absolute;
    right: 8%;
}

.logo{
    position: absolute;
    left: 8%;
}

.navMenu,
.logo{
    transition: all 0.3s;
    font-size: 35px !important;
    color:var(--navIcons)
}

.menuClose{
    display: none;
    position: absolute;
    left:calc(50% - 15px);
    margin-top: 10px;
}
.menuClose i{
    font-size: 50px !important;
}


.menuClose i:hover{
    font-size: 40px !important;
    transform: translateX(2px)
}



.dropMenu{
    position: absolute;
    top: 0px;
    padding: 0px;
    margin: 0px;
    width:100%;
    overflow: hidden;
    height: 0px;
    background: #0a0a0a;
}

.dropLink{
    position: relative;
    top: calc(50% - 150px);
}
.social a,
.dropLink h2{
    transition: all 0.2s;
    cursor: pointer;
}
.social a:hover,
.dropLink h2:hover{
    color: #512da8 !important;
}


.social{
    position: relative;
    top: calc(100% - 400px);
}


.social a{
    font-size: 35px;
    margin-left: 35px;
}


.copyright{
    position: relative;
    top: calc(100% - 300px);
}

/* scrollbar */
 ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #e7e7e7; 
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200); 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
