.menuCont{
    transition: all 0.6s;
    position: absolute;
    z-index: 10;
    width: 100%;
}


.navLogo,
.navClose,
.navMenu{
    transition: all 0.4s;
}


.navLogo,
.material-icons{
    transition: all 0.4s;
    position: relative;
    color:var(--navIcons) !important;
    font-size: 35px !important;
    margin: 5px 80px 0px 80px !important;
    height: 0px !important;
} 

.navClose{
    display: none !important;
}


@media screen and (max-width: 800px) {
    .navLogo,
    .material-icons{
        font-size: 20px !important;
        margin: 0px 20px 0px 10px !important;
    }
}


.navCont{
    background: transparent;
}

.dropMenu{
    position: absolute;
    top: 0px;
    padding: 0px;
    margin: 0px;
    width:100%;
    overflow: hidden;
    height: 0px;
    background: #0a0a0a;
}

.dropLink{
    position: relative;
    top: calc(50% - 150px);
}
.social a,
.dropLink h2{
    transition: all 0.2s;
    cursor: pointer;
}
.social a:hover,
.dropLink h2:hover{
    color: #512da8 !important;
}


.social{
    position: relative;
    top: calc(100% - 400px);
}


.social a{
    font-size: 35px;
    margin-left: 35px;
}

.copyright{
    position: relative;
    top: calc(100% - 300px);
}

 ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #e7e7e7; 
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200); 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
